%ul
	%li
		= link_to 'Home', root_path
	%li
		= link_to 'About', about_path
	%li
		= link_to 'Review', reviews_path
	%li
		= link_to 'Special', specials_path
	%li
		= link_to 'Pics', pics_path
	%li
		= link_to 'Call', call_path
	%li
		= link_to 'Pay', pay_path
