!!! 5
%html{:lang      => "en-US",
			:xmlns     => "http://www.w3.org/1999/xhtml",
			"xmlns:og" => "http://ogp.me/ns#",
			"xmlns:fb" => "https://www.facebook.com/2008/fbml"}
	%head
		= csrf_meta_tags
		%meta{:charset  => "utf-8"}
		%meta{:name     => "keywords",       :content => meta_keywords}
		%meta{:name     => "description",    :content => meta_description}
		= render 'layouts/facebook'
		%link{:rel     => "canonical",   :href    => canonical_url}
		%link{:rel     => "stylesheet",  :href    => gwfont, :type => "text/css"}
		= stylesheet_link_tag "application", :media => "screen"
		= stylesheet_link_tag "blueprint/print", :media => "print"
		= stylesheet_link_tag "print/print", :media => "print"
		= javascript_include_tag "application"
		= javascript_include_tag "vendor"
		/[if lt IE 9]
			%script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
		%title
			= page_title
	%body
		#fb-root
		.container
			.span-20
				%header
					%h1= site_title
					%h4= flavor_text
				%hr
				- if current_page?(root_path)
					= render 'layouts/intro'
				%article
					%h2= @title
					= yield
					%div{"class"            => "fb-like",
					     "data-href"        => canonical_url,
					     "data-send"        => "false",
					     "data-width"       => "320",
					     "data-show-faces"  => "true",
					     "data-colorscheme" => "dark"}
			%nav.span-4.last
				= render 'layouts/sidebar'
				.coupon.span-4.last	
					%p Online Special: Save $25 on any job. Call Jim today!
					%p.telephone 570-9909
			.span-24.last= render 'layouts/footer'
